<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <h3 align="left">Escribe tu sugerencia :</h3>
                <textarea class="form-control" rows="5" id="sugestion" placeholder="Escriba .." ng-model="formData.sugestion" maxlength="300"></textarea>
                
                <br><br>




            </div>

            <br>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createSugestion()">Enviar Sugerencia</button>
        </form>
    </div>



</div>