<div class="form-group">
<h2>Explicame</h2>

<h3>Pregunta :</h3><textarea class="form-control" rows="5" ng-model="question.Title" maxlength="300" disabled="true"></textarea><br>
<h3>Profesion :</h3><input type="text" class="form-control" name="subject" ng-model="question.Subject" disabled="true"><br>

<br><br>


<table class="table">

    <thead>
    <tr>
        <th>Respuesta</th>
        <th>Usuario</th>
        <th>Fecha</th>
    </tr>
    </thead>

    <tr class="success" ng-repeat="item in answers">
        <td>{{ item.Respuesta }}</td>
        <td>{{ item.User.Name }}</td>
        <td>{{ item.Fecha | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        
    </tr>
</table>

<br>

    <textarea class="form-control" rows="5" id="answer" placeholder="Escribe tu respuesta .." ng-model="formData.answer" maxlength="300"></textarea>

    <br><br>

<center>  <button  type="submit" class="btn btn-primary btn-lg " ng-click="updateAnswer()">Enviar</button></center>


</div>