<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <h3 align="left">Escribe tu pregunta :</h3>
                <textarea class="form-control" rows="5" id="question" placeholder="Escriba .." ng-model="formData.question" maxlength="300"></textarea>
                <!--<input type="text" class="form-control input-lg text-center" placeholder="Pregunta Algo" ng-model="formData.question">-->
                <br><br>


                <h3 align="left">Selecciona la profesion :</h3>
                <select name="profesion" ng-model="formData.profesion">
                    <option value="Arquitectura">Arquitectura</option>
                    <option value="Arqueologia">Arqueologia</option>
                    <option value="Abogado">Abogado</option>
                    <option value="Actor">Actor</option>
                    <option value="Agente de viaje">Agente de viaje</option>
                    <option value="Arquitecto">Arquitecto</option>
                    <option value="Astrónomo">Astrónomo</option>
                    <option value="Bibliotecario">Bibliotecario</option>
                    <option value="Bombero">Bombero</option>
                    <option value="Carabinero">Carabinero</option>
                    <option value="Cartero">Cartero</option>
                    <option value="Carnicero">Carnicero</option>
                    <option value="Carpintero">Carpintero</option>
                    <option value="Científico">Científico</option>
                    <option value="Cirujano">Cirujano</option>
                    <option value="Contador">Contador</option>
                    <option value="Chef">Chef</option>
                    <option value="Dentista">Dentista</option>
                    <option value="Diseñador">Diseñador</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Electricista">Electricista</option>
                    <option value="Enfermero">Enfermero</option>
                    <option value="Estilista">Estilista</option>
                    <option value="Fontanero">Fontanero</option>
                    <option value="Florista">Florista</option>
                    <option value="Fotógrafo">Fotógrafo</option>
                    <option value="Gásfiter">Gásfiter</option>
                    <option value="Granjero">Granjero</option>
                    <option value="Ingeniero">Ingeniero</option>
                    <option value="Jardinero">Jardinero</option>
                    <option value="Juez">Juez</option>
                    <option value="Mecánico">Mecánico</option>
                    <option value="Modelo">Modelo</option>
                    <option value="Panadero">Panadero</option>
                    <option value="Periodista">Periodista</option>
                    <option value="Pescador">Pescador</option>
                    <option value="Pintor">Pintor</option>
                    <option value="Piloto">Piloto</option>
                    <option value="Político">Político</option>
                    <option value="Profesor">Profesor</option>
                    <option value="Psiquiatra">Psiquiatra</option>
                    <option value="Salvavidas">Salvavidas</option>
                    <option value="Sastre">Sastre</option>
                    <option value="Soldado">Soldado</option>
                    <option value="Traductor">Traductor</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Veterinario">Veterinario</option>


                </select>


            </div>

            <br>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createQuestion()">Enviar Pregunta</button>
        </form>
    </div>



</div>