<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <h3 align="left">Escribe tu pregunta :</h3>
                <textarea class="form-control" rows="5" id="question" placeholder="Escriba .." ng-model="formData.question" maxlength="300"></textarea>
                <!--<input type="text" class="form-control input-lg text-center" placeholder="Pregunta Algo" ng-model="formData.question">-->
                <br><br>


                <h3 align="left">Selecciona la profesion :</h3>
                <select name="profesion" ng-model="formData.profesion">
                    <option value="Arquitectura">Arquitectura</option>
                    <option value="Abogado">Abogado</option>
                    <option value="Artista">Artista</option>
                    <option value="Arqueologia">Arqueologia</option>
                </select>


            </div>

            <br>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createQuestion()">Enviar Pregunta</button>
        </form>
    </div>



</div>